html, body {
     margin: 0;
     padding: 0;
}

body {
     height: 100vh;
     width: 100%;
     background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(heroBg.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     font-family: Poppins;
}

.navBar {
     position: fixed;
     top: 0;
     left: 0;
}

.menu_Icon {
     position: relative;
     top: 50px;
     left:130%;
     opacity: 0.4;
     transition: all 0.3s;
}

.menu_Icon:hover {
     opacity: 1;
}

.search_Icon {
     position: relative;
     top: -5px;
     right: -1800px;
     opacity: 0.4;
     transition: all 0.3s;
}

.search_Icon:hover {
     opacity: 1;
}

.main_context {
     position: absolute;
     color: #b2b2b2;
     letter-spacing: 30px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.main_context h1 {
     font-weight: 300;
     font-size: 40px;
}

.main_context .error {
     position: relative;
     left: -150px;
     top: -50px;
}

.main_context .rotate {
     position: relative;
     transform: rotate(180deg);
     top: 100px;
     left: 100px;
}
